.chosenMethodContainer {
  /* max-width: 80%; */
  /* margin: auto auto; */
  /* background-color: pink;
  padding-top: 20px; */
  /* margin-left: 3rem;
  margin-right: 3rem; */
}

.link {
  color: lightcoral !important;
  text-decoration: none;
}

.link:hover {
  color: #c9c0ff !important;
  text-decoration: underline;
}
