.tags {
  padding-right: 10px;
}

.wrapper {
  padding-bottom: 20px;
}

.topRow {
  display: flex;
  justify-content: space-between!;
  color: pink;
  background-color: lightcoral;
}

.tagLink:hover {
  color: #c9c0ff !important;
  text-decoration: underline !important;
}

.hangingindent {
  padding-left: 22px;
  text-indent: -22px;
}
