.tags {
  padding-right: 10px;
}

.wrapper {
  padding-bottom: 20px;
}

.topRow {
  display: flex;
  justify-content: space-between!;
  color: pink;
  background-color: lightcoral;
}

.methodGrade {
  text-align: right;
  background-color: skyblue;
}

.tags {
  color: lightcoral !important;
}

.hangingindent {
  padding-left: 22px;
  text-indent: -22px;
}
