.nav {
  /* background-color: rgb(95, 78, 130); */
  /* height: 4rem; */
  margin: 0;
  padding-top: 1rem;
  display: flex;
  font-family: "Avenir";
  /* background-color: lightcoral; */
}

/* .linkText {
  color: white !important;
} */

.nav a {
  /* color: rgb(95, 78, 130); */
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}

.linkText:hover {
  color: lightcoral;
  text-decoration: underline;
}

/* .nav a:hover {
  /* text-decoration: underline; */
/* color: lightcoral; 
} */
/* 
.home {
  /* margin-left: 3rem; */
/* }

.home img {
  height: 1rem;
} */
.links {
  margin-left: 3rem;
}
